
<p>We are going to use different material components to create nice looking angular app.</p>

  <mat-grid-list cols = "2" rowHeight="fit" style="height: 350px">
  <mat-grid-tile>
    <mat-card fxLayoutWrap="wrap" fxLayout="column" fxFlex="95%" fxLayoutGap="16px">
      <mat-card-title> Asset Allocation</mat-card-title>
      <mat-card-content> <app-asset-allocation-chart></app-asset-allocation-chart> </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button>login</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card fxLayoutWrap="wrap" fxLayout="column" fxFlex="95%" fxLayoutGap="16px">
      <mat-card-title> Asset Allocation by Currency</mat-card-title>
      <mat-card-content>  </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button>login</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>Tile 3</mat-grid-tile>
  <mat-grid-tile>Tile 4</mat-grid-tile>

</mat-grid-list>

