<mat-nav-list>

  <a mat-list-item routerLink="/groupview" (click)="onSidenavClose()">
    <mat-icon>group</mat-icon> <span class="nav-caption">Group View</span>
  </a>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>search</mat-icon><span class="nav-caption">Client View</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div [routerLink]="['/clientview/', bp.id, 'cltoverview']" *ngFor="let bp of bps" (click)="onSidenavClose()">
      <a class="submenu"  mat-menu-item><mat-icon>person</mat-icon><span class="nav-caption">{{ bp.name }}</span></a>
    </div>
  </mat-expansion-panel>

</mat-nav-list>

