<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Overview of {{bp.name}}</p>
  </div>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <router-outlet></router-outlet>
  <app-asset-allocation-chart></app-asset-allocation-chart>
<app-asset-allocation-bubble-chart></app-asset-allocation-bubble-chart>
