<!--

<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>
</div>


-->

<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="assetAllocationData"
            [labels]="assetAllocationLabels"
            [options]="assetAllocationOptions"
            [legend]="assetAllocationLegend"
            [chartType]="assetAllocationType"></canvas>
  </div>
</div>

